#map { height: 80vh; }
#map { width: 80vh; }
#map{
    display: flex;
    place-content: center;

}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    font: rgb(110, 0, 0);
}
h1{
    font: white;
}